@font-face {
  font-family: 'Apercu';
  font-style: normal;
  src:
    local('Apercu'),
    local('Apercu Pro Regular'),
    url('/css/ApercuRegular.ttf') format('truetype');

}

@font-face {
  font-family: 'Apercu Bold';
  font-style: bold;
  src:
    local('Apercu Pro Regular'),
    url('/css/ApercuBold.ttf') format('truetype');

}

html, body {
  margin: 0;
  padding: 0;
  font-family: Apercu;
}

#image {
  max-height: 300px;
  max-width: 90%;
}

#container {
  background: white;
  height: 420px;
  border: dashed rgba(161,89,252, 0.5) 1px;
  padding: 40px;
}

#text-container {
  height: 100px;
  width: 100%;
  text-align: center;
}

#instruction {
  color: #0bcf82;
}

.result-color {
  color: #A159FC;
}

.highlight {
  opacity: 0.4;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fileUploader {
  opacity: 0;
}

#uplooader-link {
  cursor: pointer;
  font-family: Apercu Bold;
}

a:hover { 
  text-decoration: underline;
}
