html, body {
  margin: 0;
  padding: 0;
}

#image {
  max-height: 300px;
  min-height: 300px;
  max-width: 600px;
}

#container {
  background: white;
  height: 500px;
  border: dashed rgba(161,89,252, 0.5) 1px;
}

#text-container {
  height: 100px;
  width: 100%;
}

#instruction {
  color: #0bcf82;
}

#result-container {
  color: #A159FC;
}

.highlight {
  opacity: 0.4;
}
