html, body {
  margin: 0;
  padding: 0;
}

#image {
  max-height: 300px;
  max-width: 480px;
}

#container {
  background: white;
  height: 420px;
  border: dashed rgba(161,89,252, 0.5) 1px;
  padding: 40px;
}

#text-container {
  height: 100px;
  width: 100%;
  text-align: center;
}

#instruction {
  color: #0bcf82;
}

#result-container {
  color: #A159FC;
}

.highlight {
  opacity: 0.4;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
